/*-------------------------||-------------------------*/

#contenedor_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

.elementos_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#publicidad{
    display: flex;
    flex-direction: row;
}

/*-------------------------||-------------------------*/

/*-----------------|REGISTRO USUARIOS|-----------------*/
#contenedor_portada{
    width: 100%;
}
#div_contenedor_portada{
    width: 90%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	margin: auto;
	justify-content: space-evenly;
}

#registro_usuarios{
    width: 30%;
    display:block;
    text-align: center;
    background-color: antiquewhite;
}

#portada{
    width: 70%;
    background-color: aquamarine;
}
#portada img{
    border-radius: 1em;
    width: 100%;
}

/*-------------------------||-------------------------*/


/*-------------------------|MARCAS|-------------------------*/
#marcas{
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content:space-between;
    background-color: aqua;
}
/*-------------------------||-------------------------*/

/*------------------|PERSONA DESTACADA|------------------*/
#div_persona_destacada{
    width: 90%;
    display:flex;
    margin: auto;
    background-color: blueviolet;
    flex-direction: column;
    align-items: center;
}

#persona_destacada_fondo{
    background-image: url("imagenes/img inicio/Persona1.jpg");
    width: 80%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5em;
    display:flex;
    flex-direction: row-reverse;
}
.persona_destacada_texto{
    background-color: rgba(250, 235, 215, 0.301);
    text-align: center;
}

/*-------------------------||-------------------------*/

/*--------------------|OTRAS CLASES|--------------------*/

#div_contenedor_otras_clases{
    display:block;
}
.div_contenedor_titulos_clases{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.div_contenedor_clases{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*-------------------------||-------------------------*/


/*----------------------|ULTIMO|----------------------*/
#div_ultimo_contenedor{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    background-color: blueviolet;
}

#div_ultimo_contenedor_titulos{
    display: block;
    width: 30%;
    background-color: aqua;
}

#div_ultimo_imagen{
    width: 60%;
}

/*-------------------------||-------------------------*/


/*-------------------------|FOOTER|-------------------------*/

#div_contenedor_footer{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

/*-------------------------||-------------------------*/




