body{
    font-family: "Sohne", "Helvetica", "Arial", sans-serif;
    background-color: rgb(0, 0, 0);
    color:#ffffff
}


/*-------------------------||-------------------------*/

#contenedor_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

.elementos_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#publicidad{
    display: flex;
    flex-direction: row;
}

/*-------------------------||-------------------------*/



/*-----------------|REGISTRO USUARIOS|-----------------*/
#contenedor_portada{
    width: 100%;
}
#div_contenedor_portada{
    width: 90%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	margin: auto;
	justify-content: space-evenly;
    align-items: center;
}
#div_centrado_iniciar_sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 311px;
}
#registro_usuarios{
    width: 30%;
    display:flex;
    flex-direction: column;
    
    align-items: center;
    /*background-color: antiquewhite;*/
}

#portada{
    width: 70%;
    /*background-color: aquamarine;*/
}
#portada img{
    border-radius: 1em;
    width: 100%;
}
#imagen_titulo{
    width: 100%;
}
.texto_iniciar_sesion{
    color: rgb(151, 150, 150);
    border-radius: 0.2em;
    width: 100%;
    height: 51px;
    border-style: none;
    background-color: #191c21;
    font-size: medium;
    margin-bottom: 1em; 
    border-style: solid;
    border-width: 0.1px;
    font-weight: 550;
}
.boton_iniciar_sesion{
    background-color: #f24462;
    color: white;
    border-radius:  1em;
    width: 100%;
    height: 51px;
    margin-bottom: 1em;
    border-style: none;
    font-weight: 600;
    font-family: "Sohne", "Helvetica", "Arial", sans-serif;
}
.texto_uno_iniciar_sesion{
    justify-content: left;
    text-align: left;
}
#privacidad_iniciar_sesion{
    display: flex;
    flex-direction: row;
    align-items: center;



    width: 100%;
}
#entrada{
    background-color: #191c21;
    margin-right: 1em;
    background: #191c21;
}

#subtitulo_2{
    margin-bottom: 4em;
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(200, 200, 200);

}
/*-------------------------||-------------------------*/



/*-------------------------|MARCAS|-------------------------*/
#marcas{
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content:space-between;
}
/*-------------------------||-------------------------*/



/*------------------|PERSONA DESTACADA|------------------*/
#div_persona_destacada{
    width: 1200px;
    display:flex;
    margin: auto;
    /*background-color: beige;*/
    flex-direction: column;
    align-items: center;
}

#persona_destacada_fondo{
    background-image: url("imagenes/img inicio/Persona1.jpg");
    width: 100%;
    height: 514px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5em;
    display:flex;
    flex-direction: row-reverse;
}
.persona_destacada_texto{
    display: flex;
    flex-direction: column;
    background-color: #191c21;
    width: 30%;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

}
#letras_persona_destacada{
    width: 200px;
}
#boton_ver_trailer{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius:  1em;
    width: 50%;
    height: 51px;
    margin-bottom: 1em;
    border-style: solid;
}
#boton_ver_trailer span{
    font-weight: bold;
    letter-spacing: 1px;
}
/*-------------------------||-------------------------*/



/*--------------------|OTRAS CLASES|--------------------*/
#div_contenedor_otras_clases{
    display:block;
    width:82%;
    margin: auto;
    width: 1220px;
}
.div_contenedor_titulos_clases{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color:rgb(255, 255, 255);

}
.div_contenedor_titulos_clases h4{
    font-weight: lighter;
}
.div_contenedor_clases{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    color:#ffffff;
}
.div_contenedor_clases img{
    width: 80%;
}


.clase_persona{
    width: 284px;
    height: 504px;
    border-style: none;
    border-radius: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: end;  
}

.clase_persona h4{
    margin-bottom: 2em; 
}

#clase_persona_1{
    background: linear-gradient(to top, #191c21, 
    hsla(0, 0%, 0%, 0),hsla(317, 45%, 52%, 0)), 
    url("imagenes/perfil_uno.jpg");

    background-size: cover;
    background-repeat: no-repeat;
}
#clase_persona_2{
    background: linear-gradient(to top, #191c21, 
    hsla(0, 0%, 0%, 0),hsla(317, 45%, 52%, 0)), 
    url("imagenes/perfil_dos.jpg");

    background-size: cover;
    background-repeat: no-repeat;
}
#clase_persona_3{
    background: linear-gradient(to top, #191c21, 
    hsla(0, 0%, 0%, 0),hsla(317, 45%, 52%, 0)), 
    url("imagenes/perfil_tres.jpg");

    background-size: cover;
    background-repeat: no-repeat;
}
#clase_persona_4{
    background: linear-gradient(to top, #191c21, 
    hsla(0, 0%, 0%, 0),hsla(317, 45%, 52%, 0)), 
    url("imagenes/perfil_cuatro.jpg");

    background-size: cover;
    background-repeat: no-repeat;
}

/*-------------------------||-------------------------*/



/*----------------------|ULTIMO|----------------------*/
#section_gris{
    background-color: #191c21;
}

#div_ultimo_contenedor{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#div_ultimo_contenedor_titulos{
    display: block;
    width: 40%;
    margin-left: 0;
}

#div_ultimo_contenedor_titulos h1{
    font-size: 3em;
    /*font-family: "Sohne Schmal",serif;*/
    letter-spacing: -5px;
    line-height: 90%;
    font-weight: 900;
}

#div_ultimo_imagen{
    width: 60%;
}

#div_ultimo_imagen img{
    width: 100%;
}

#ultimo_boton{
    background-color: #f24462;
    color: white;
    border-radius:  1em;
    width: 30%;
    height: 51px;
    margin-bottom: 1em;
    border-style: none;
}

#ultimo_boton span{
    font-weight: bold;
}
#ultimo_div_botones{
    display: flex;
    flex-direction: row;    
}

#ultimo_div_botones p{
    margin-left: 20px;
}

/*-------------------------||-------------------------*/



/*-------------------------|FOOTER|-------------------------*/

#div_contenedor_footer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.footer_textos{
    display: block;
}

.footer_textos p{
    margin-bottom: 2em;
    margin-left: 0em;    
}

/*-------------------------||-------------------------*/



/*-------------------------|GENERALIDADES|-------------------------*/
.subtitulo{
    background-color: white;
    color: black;
    border-radius: 1em;
    padding: 0.3em 1em 0.3em 1em;
}
.espaciado{
    /*margin-top: 30px;
    margin-bottom: 30px;*/
    padding-top: 30px;
    padding-bottom: 30px;
}

.texto_color_gris{
    color:rgb(151, 150, 150);
    font-weight: 600;
}

.subrayado{
    text-decoration: underline;
}
/*-------------------------||-------------------------*/


