body{
    font-family: "Sohne", "Helvetica", "Arial", sans-serif;
    background-color: rgb(0, 0, 0);
    color:#ffffff
}


/*-------------------------||-------------------------*/

#contenedor_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

.elementos_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#publicidad{
    display: flex;
    flex-direction: row;
}

/*-------------------------||-------------------------*/

/*-----------------|REGISTRO USUARIOS|-----------------*/
#contenedor_portada{
    width: 100%;
}
#div_contenedor_portada{
    width: 90%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	margin: auto;
	justify-content: space-evenly;
    align-items: center;
}

#registro_usuarios{
    width: 30%;
    display:flex;
    flex-direction: column;
    
    align-items: center;
    /*background-color: antiquewhite;*/
}

#portada{
    width: 70%;
    /*background-color: aquamarine;*/
}
#portada img{
    border-radius: 1em;
    width: 100%;
}
#imagen_titulo{
    width: 100%;
}
.texto_iniciar_sesion{
    color: white;
    border-radius: 0.5em;
    width: 100%;
    height: 51px;
    border-style: solid;

    margin-bottom: 1em; 
}
.boton_iniciar_sesion{
    background-color: #f45c76;
    color: white;
    border-radius:  1em;
    width: 100%;
    height: 51px;
    margin-bottom: 1em;
    border-style: solid;
}
.texto_uno_iniciar_sesion{
    justify-content: left;
    text-align: left;
}
#privacidad_iniciar_sesion{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#privacidad_iniciar_sesion div{
    border-style: solid;
}
#div_centrado_iniciar_sesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

/*-------------------------||-------------------------*/


/*-------------------------|MARCAS|-------------------------*/
#marcas{
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content:space-between;
}
/*-------------------------||-------------------------*/

/*------------------|PERSONA DESTACADA|------------------*/
#div_persona_destacada{
    width: 90%;
    display:flex;
    margin: auto;
    /*background-color: beige;*/
    flex-direction: column;
    align-items: center;
}

#persona_destacada_fondo{
    background-image: url("imagenes/img inicio/Persona1.jpg");
    width: 90%;
    height: 514px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5em;
    display:flex;
    flex-direction: row-reverse;
}
.persona_destacada_texto{
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.301);
    width: 30%;
    justify-content: center;
    align-items: center;
    color: white;

}
.subtitulo{
    background-color: white;
    color: black;
    border-radius: 1em;
    padding: 0.3em 1em 0.3em 1em;
}
#letras_persona_destacada{
    width: 200px;
}
#boton_ver_trailer{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius:  1em;
    width: 50%;
    height: 51px;
    margin-bottom: 1em;
    border-style: solid;
}
#boton_ver_trailer span{
    font-weight: bold;
    letter-spacing: 1px;
}
/*-------------------------||-------------------------*/

/*--------------------|OTRAS CLASES|--------------------*/

#div_contenedor_otras_clases{
    display:block;
}
.div_contenedor_titulos_clases{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color:rgb(255, 255, 255);

}
.div_contenedor_titulos_clases h4{
    font-weight: lighter;
}
.div_contenedor_clases{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    color:#ffffff;
}


.clase_persona{
    width: 284px;
    height: 504px;
    border-style: solid;
    border-radius: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: end;
    background-repeat: no-repeat;
    background-size: cover;
}


#clase_persona_1{
    background-image: url("imagenes/perfil_uno.jpg");
}
#clase_persona_2{
    background-image: url("imagenes/perfil_dos.jpg");
}
#clase_persona_3{
    background-image: url("imagenes/perfil_tres.jpg");
}
#clase_persona_4{
    background-image: url("imagenes/perfil_cuatro.jpg");
}

/*-------------------------||-------------------------*/


/*----------------------|ULTIMO|----------------------*/
#div_ultimo_contenedor{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#div_ultimo_contenedor_titulos{
    display: block;
    width: 40%;
    margin-left: 0;
}

#div_ultimo_contenedor_titulos h1{
    font-size: 3em;
    /*font-family: "Sohne Schmal",serif;*/
    letter-spacing: -5px;
    line-height: 90%;
    font-weight: 900;
}

#div_ultimo_imagen{
    width: 50%;
}

#div_ultimo_imagen img{
    width: 100%;
}

#ultimo_boton{
    background-color: #f45c76;
    color: white;
    border-radius:  1em;
    width: 30%;
    height: 51px;
    margin-bottom: 1em;
    border-style: none;
}

#ultimo_boton span{
    font-weight: bold;
}
#ultimo_div_botones{
    display: flex;
    flex-direction: row;    
}

#ultimo_div_botones p{
    margin-left: 20px;
}

/*-------------------------||-------------------------*/


/*-------------------------|FOOTER|-------------------------*/

#div_contenedor_footer{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.footer_textos{
    display: block;
}

.footer_textos ul{
    list-style: none;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
}

.footer_textos ul li{
    margin-top: 2em;
    margin-left: 0em;

    
}

/*-------------------------||-------------------------*/

.espaciado{
    /*margin-top: 30px;
    margin-bottom: 30px;*/
    padding-top: 30px;
    padding-bottom: 30px;
}

.texto_color_gris{
    color:rgb(151, 150, 150);
    font-weight: 600;
}

.subrayado{
    text-decoration: underline;
}


