:root{
    --ancho: 1200px;
    --texto_blanco: #ffffff;
    --texto_gris:#6e6e6e;
    --texto_gris_claro: rgb(200, 200, 200);

    --tamano_texto_normal: 13px;
}

*{
    font-family: "Sohne", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: rgba(255, 255, 255, 0.507);
}
html, body{
    height: 100%;
    /*font-size: 62.5%;*/
    background-color: rgb(0, 0, 0);
}
body{

    color:#ffffff;
}




/*-------------------------|HEADER NAV|-------------------------*/

.nav_contenedor{
    width: var(--ancho);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    font-weight: bolder;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-size: 1.4rem;
}

.nav_contenedor div:nth-child(2), .nav_contenedor div:nth-child(3){
    display:flex;
    flex-direction: row;
}

.nav_contenedor div:nth-child(2) > p, .nav_contenedor div:nth-child(3) > p{
    margin-right: 20px;
}

/* Quita el ultimo margen a la derecha del ultimo p del nav */
.nav_contenedor div:nth-child(2) p:last-child, .nav_contenedor div:nth-child(3) p:last-child{
    margin-right: 0px;
}




/*-----------------portada----------------*/
.contenedor-portada{
    background: linear-gradient(to top, rgb(0, 0, 0), hsla(0, 0%, 0%, 0.5),
    hsla(0, 0%, 0%, 0),hsla(0, 0%, 0%, 0)),
    url("St Vincent/Imagenes/Portada St Vincent.jpg"); 

    /*background-image: url("St Vincent/Imagenes/Portada St Vincent.jpg");*/
    background-repeat: no-repeat;
    background-size: contain;

    background-color: rgb(0, 0, 0);    

    display: flex;
    flex-direction: column;
    height: 88vh;
    justify-content: flex-end;
    align-items: center;
}

.portada_contenedor_titulos {
    /*background-color: bisque;*/
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.portada_contenedor_titulos > div{
    display:flex;
    justify-content: center;
}

.portada_contenedor_titulos div:first-child img{
    width: 20%;
}

.portada_contenedor_titulos h1{
    width: 276px;
    font-size: 25px;
    text-align: center;
}


/*----------------*/


.portada_contenedor_botones{
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 20px;
    width: 276px;

    font-weight: bolder;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-size: var(--tamano_texto_normal);
    
}

.portada_contenedor_botones > div{
    
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*------------------*/


.portada_contenedor_boton p.texto_gris_claro{
    font-size: 15px;
    width: 276px;
    margin-top: 10px;
}

.portada_contenedor_boton button{
    width: 100%;
}

/*-------------------------||-------------------------*/





/*-------------------------|MAIN-NAV|-------------------------*/
.main-nav_contenedor{
    width: var(--ancho);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-nav_contenedor > div{
    display: flex;
    height: 50px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: solid;
    justify-content: center;
    align-items: center;
}

.main-nav_contenedor div p{
    text-align: center;
}

/*-------hijos-------*/
.main-nav_contenedor div:nth-child(1){
    border-color:#ffffff;
}
.main-nav_contenedor div:nth-child(2){
    border-color:#6e6e6e;
}
.main-nav_contenedor div:nth-child(3){
    border-color:#6e6e6e;
}
/*-------------------------||-------------------------*/




/*-------------------------|CLASES-VIDEOS|-------------------------*/
.clases_contenedor{
    width: var(--ancho);
    background-color:rgb(0, 0, 0);
    margin: auto;
}

.clases_contenedor > div:nth-child(1){
    margin-bottom: 10px;
}

.clases_contenedor > div:nth-child(1) > div{
    display: inline-block;
}

.clases_contenedor > div:nth-child(1) > div:first-child{
    margin-right: 200px;
}

.clases_contenedor> div:nth-child(1) div p{
    margin-bottom: 10px;
}


/*-----segundo div - 1div-imagen(video) y texto-----*/


.clases_contenedor > div:nth-child(2){

    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: space-between;
}

.clases_contenedor > div:nth-child(2) > div{
    display:  inline-block;
}

.clases_contenedor > div:nth-child(2) > div:first-child{
    width: 790px;
}

.clases_contenedor > div:nth-child(2) > div:first-child > img:first-child{
    width: 100%;
    margin-bottom: 30px;
}
.clases_contenedor > div:nth-child(2) > div:first-child > p{
    width: 100%;
    font-size: 15px;
}


/*----- segundo div - 2div - 1div-trailer y clases-----*/
/*.clases_contenedor > div:nth-child(2) > div:nth-child(2)*/


.clases-contenedor_menu_derecha{
    width: 375px;
}

.clases-contenedor_menu_derecha > div:nth-child(1){

}

.clases-contenedor_menu_derecha > div:nth-child(1) > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 2.5px;
}

.clases-contenedor_menu_derecha > div:nth-child(2){
    margin-top: 30px;
}

.clases-contenedor_menu_derecha > div:nth-child(2) > p:first-child{
    margin-bottom: 5px;
    font-weight: bold;
}

.clases-contenedor_menu_derecha > div:nth-child(2) > div:nth-child(2){
    background-color: #191c21;
    height: 290px;
    overflow: hidden;
    border-radius:8px;
}

.clases-contenedor_menu_derecha > div:nth-child(2) > div:nth-child(2) p{
    border-bottom: solid;
    border-color:  gray;
    border-width: 1px;
    height: 50px;
    text-align: left;
    padding-left: 10px;
    align-items: center;
    display: flex;
}


/*----- siguiente clase -----*/


.siguiente-clase{
    margin-top: 30px;

    position: relative;
    display: flex;
}

.siguiente-clase > div{

}

.siguiente-clase > div img{
    width: 80px;
    height: 80px;
}

.siguiente-clase > div:nth-child(2){
    margin: auto;
    margin-left: 20px;
}

.siguiente-clase > div:nth-child(2) > div:nth-child(1) > p:nth-child(1),
.siguiente-clase > div:nth-child(2) > div:nth-child(1) > p:nth-child(2){
    font-weight: bold;
}

.siguiente-clase > div:last-child{
    background-color:#f24462;
    display: flex;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 30px;
    bottom: auto;
}
/*-------------------------||-------------------------*/




/*-------------------------|Otras clases|-------------------------*/
.otras-clases_contenedor{
    width: var(--ancho);

    margin: auto;
    border-top:solid;
    border-color: gray;
    border-width: 1px;

}

.otras-clases_contenedor > div:first-child h2{
    /*font-size:32px;*/
    text-align: center;
}

.otras-clases_contenedor > div:nth-child(2){
    display: flex;
    flex-direction: row;
}

.otras-clases_contenedor > div:first-child{
    padding-bottom: 30px;
    padding-top: 30px;
}


/*----- otras clases -----*/


.otras_clases{
    width: 206px;
    height: 377px;
    margin-right: 10px;
}

.otras_clases img{
    width:  194px;
    height: 290px;
    background-size: contain;
    background-repeat: no-repeat;
}


/*----- contenedor imagenes -----*/


.otras_clases p:nth-child(2){
    margin-top: 13px;
    font-weight: bold;
}
.otras_clases p:nth-child(3){
    margin-top: 5px;
}
/*-------------------------||-------------------------*/




/*-------------------------|Registro correo|-------------------------*/
.registro-email_contenedor{
    width: var(--ancho);
    /*background-color: #2c3166;*/
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.registro-email_contenedor > div:first-child, .registro-email_contenedor > div:nth-child(2){
    width: 50%;
}


/*----- Registro email -----*/


.registro-email_contenedor > div:first-child h3{
    font-size: 24px;
}

.registro-email_contenedor > div:first-child p{
    font-size: 16px;
    margin-top: 16px;
}

.registro-email_contenedor > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.registro-email_contenedor > div:nth-child(2) > button:nth-child(2){
    width: 35%;
    background-color: black;
}

.registro-email_contenedor > div:nth-child(2) > div:last-child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8px;
}

.registro-email_contenedor > div:nth-child(2) > div:last-child > p{
    margin-left:  10px;
    font-size: 13px;
}

/*-------------------------||-------------------------*/




/*-------------------------| Suscripcion |-------------------------*/
.suscripcion_contenedor{
    width: var(--ancho);
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.suscripcion_contenedor > div{
    width: 50%;
}

.suscripcion_contenedor_botones{
    margin-top: 26px;
}

.suscripcion_contenedor_botones > button{
    width: 160px;
    height: 48px;
}

.suscripcion_contenedor_botones > button:last-child{
    margin-left: 16px;
}


/*----------*/


.suscripcion_ul_multimedia > li{
    list-style: none;
    margin: 12px;
}

.suscripcion_ul_multimedia > li span{
    margin-right: 10px;
}



/*-------------------------||-------------------------*/




/*-------------------------|Pregutas frecuentes|-------------------------*/
.preguntas-frecuentes_contenedor{
    width: var(--ancho);
    margin: auto;

    display: block;
}

.preguntas-frecuentes_contenedor > h2{
    text-align: center;
}


/*----------*/


.preguntas-frecuentes_contenedor_secundario{
    width: 800px;
    margin: auto;
}

.preguntas-frecuentes_contenedor_secundario > p{
    margin-bottom: 16px;
    font-weight: bold;
}

.preguntas-frecuentes_contenedor_secundario >  div > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    height: 64px;
    padding-left: 24px;
    padding-top: 20px;
    padding-right: 24px;
}
.preguntas-frecuentes_contenedor_secundario > div{
    margin-bottom: 40px;
}

.preguntas-frecuentes_contenedor_secundario > div > div p{
    font-weight: bold;
}

/*-------------------------||-------------------------*/




/*-------------------------|Relacionados|-------------------------*/
.relacionados_contenedor{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.relacionados_contenedor_enlaces{
    display: flex;
    flex-direction: row;
}

.relacionados_contenedor_enlaces div{
    width: 50%;
    display: flex;
    flex-direction:column;
    padding-left: 16px;
    padding-right: 16px;
}
.relacionados_contenedor_enlaces > div a{
    margin-bottom: 24px;
    text-decoration: none;
    color: white;
}
.relacionados_contenedor_enlaces > div a:hover{
    text-decoration: underline;
}

/*-------------------------||-------------------------*/




/*-------------------------|Unirse|-------------------------*/
.contenedor-unirse-ultimo{
    background-color: #303136;
}

.unirse_contenedor{

    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1200px;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
padding-bottom: 30px;

}

.unirse_contenedor > div:first-child{
    width: 30%;
}

.unirse_contenedor > div:first-child > p:first-child{
    font-size: 3em;
    font-family:  "Sohne", "Helvetica", "Arial", sans-serif;
    letter-spacing: -5px;
    line-height: 90%;
    font-weight: 900;
}

.unirse_contenedor div:first-child p:nth-child(2){
    
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600;    
}

.unirse_contenedor > div:first-child > div{
    display: flex;
    flex-direction: row;
}

.unirse_contenedor div:first-child > div > button:first-child{
    color: white;
    width: 50%;
}

.unirse_contenedor > div:first-child > div > div{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
}

.unirse_contenedor > div:first-child > div > div > a{
    color: white;
}




.unirse_contenedor > :nth-child(2){
    width: 60%;
}

.unirse_contenedor > :nth-child(2) > img{
    width: 100%;
}
/*-------------------------||-------------------------*/


/*-------------------------|FOOTER|-------------------------*/
footer{
    padding-top: 30px;
padding-bottom: 30px;
}
#footer_contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--ancho);
    margin: auto;
}
#footer_contenedor > div > span{
font-weight: 600;
margin-bottom: 2em;

}
#footer_contenedor > div > p:nth-child(2){
    margin-top: 2em;
}
#footer_contenedor > div > p{
margin-bottom: 2em;
margin-left: 0em;
background-origin: red;
}



.firma{
    color: crimson;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
margin: auto;
  margin-top: auto;
  margin-bottom: auto;
text-align: center;
margin-top: 50px;
margin-bottom: 100px;
}

/*-------------------------||-------------------------*/




/*-------------------------||-------------------------*/
.boton_rojo{
    background-color: #f24462;
    border-radius: 13px;
    height: 51px;
    border-style:none;

    font-weight: bolder;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-size: 13px;
}

.boton_negro{
    background-color: #000000;
    border-radius: 13px;
    height: 51px;
    border-style: solid;
    border-width: 1px;

    font-weight: bolder;
    line-height: 1.25;
    letter-spacing: 0.03em;
    font-size: 13px;
}


.texto_blanco{
    color:var(--texto_blanco);
}
.texto_gris{
    color: var(--texto_gris);
}
.texto_gris_claro{
    color: var(--texto_gris_claro);
}


.contenedor_redondeado_gris{
    background-color: #191c21;
    border-radius: 5px;
    height: 50px;
}

.img_redondeada{
    border-radius: 5px;
}

.section{
    margin-top: 80px;
}

.entrada_de_texto{
        color: rgb(255, 255, 255);
        border-radius: 5px;
        width: 60%;
        height: 51px;
        border-style: none;
        background-color: #191c21;
        font-size: medium;
        border-style: solid;
        border-width: 1px;
        font-weight: 550;
        padding-left: 20px;  
}

.subtitulo{
    color: white;
    font-size:33px;
    margin-bottom: 48px;
}
